<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %></title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css"
    />
    <link href="/css/login.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <%- include('../includes/navbar.ejs') %> <% if(errorMsg) { %>
    <div class="alert alert-danger mb-0" role="alert">
      <p><%= errorMsg %></p>
    </div>
    <% }%>

    <section class="h-100 gradient-form" style="background-color: #eee">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-xl-10">
            <div class="card rounded-3 text-black">
              <div class="row g-0">
                <div class="col-lg-6">
                  <div class="card-body p-md-5 mx-md-4">
                    <div class="text-center">
                      <img
                        src="https://thumbs.dreamstime.com/b/web-179112724.jpg"
                        style="width: 165px"
                        alt="logo"
                      />
                      <h4 class="mt-1 mb-5 pb-1">Shoplex</h4>
                    </div>

                    <form action="/login" method="post">
                      <p>Please login to your account</p>

                      <div data-mdb-input-init class="form-outline mb-4">
                        <input
                          type="email"
                          id="form2Example11"
                          class="form-control"
                          name="email"
                          value="<%= oldInput.email %>"
                        />
                        <label class="form-label" for="form2Example11"
                          >Email</label
                        >
                      </div>

                      <div data-mdb-input-init class="form-outline mb-4">
                        <input
                          type="password"
                          id="form2Example22"
                          class="form-control"
                          name="password"
                          value="<%=  oldInput.password %>"
                        />
                        <label class="form-label" for="form2Example22"
                          >Password</label
                        >
                      </div>

                      <div class="text-center pt-1 mb-5 pb-1">
                        <input
                          type="hidden"
                          name="_csrf"
                          value="<%= csrfToken %>"
                        />
                        <button
                          data-mdb-button-init
                          data-mdb-ripple-init
                          class="btn btn-primary btn-block fa-lg mb-3 btn-success"
                          type="submit"
                        >
                          Log in
                        </button>
                        <a class="text-muted" href="/reset">Forgot password?</a>
                      </div>

                      <div
                        class="d-flex align-items-center justify-content-center pb-4"
                      >
                        <p class="mb-0 me-2">Don't have an account?</p>
                        <a
                          href="/signup"
                          data-mdb-button-init
                          data-mdb-ripple-init
                          class="btn btn-outline-success"
                        >
                          Create new
                        </a>
                      </div>
                    </form>
                  </div>
                </div>
                <div
                  class="col-lg-6 d-flex align-items-center gradient-custom-2"
                >
                  <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                    <h4 class="mb-4">
                      <span>Shoplex</span> - don't buy it tomorrow, buy it now.
                    </h4>
                    <p class="small mb-0">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore magna
                      aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                      ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
