<%- include('../includes/head.ejs') %>
<body>
  <%- include('../includes/navbar.ejs') %> <% if(errorMsg) { %>
  <div class="alert alert-danger mb-0" role="alert">
    <p><%= errorMsg %></p>
  </div>
  <% }%>
  <main class="container mt-5 d-flex justify-content-center">
    <div class="card text-center" style="width: 18rem">
      <div class="card-header h5 text-white" style="background-color: #00463e">
        Password Reset
      </div>
      <form action="/new-password" method="post" class="card-body px-5">
        <p class="card-text py-2">Please enter your new password</p>
        <div data-mdb-input-init class="form-outline">
          <input
            type="password"
            id="typePwd"
            class="form-control my-3"
            name="password"
          />
          <label class="form-label" for="typePwd">Password</label>
        </div>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        <input type="hidden" name="userId" value="<%= userId %>" />
        <input type="hidden" name="token" value="<%= token %>" />
        <button
          data-mdb-ripple-init
          class="btn btn-primary w-100"
          type="submit"
        >
          Update password
        </button>
      </form>
    </div>
  </main>
  <%- include('../includes/end.ejs') %>
</body>
